---
import unightLogo from "../assets/unight.png";
import "../styles/404.scss";
import garryCanvasBgTexture from "../assets/garry-ko-canvas-bg.png";
import garryKoSprite from "../assets/garry-ko.png";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>U-Night - Not found</title>
  </head>
  <body>
    <div class="background-wrapper">
      <div class="garry-background">
        <div class="garry-tile"></div>
      </div>
    </div>
  </body>
  <div class="wrapper">
    <div class="notfound">
      <div>4</div>
      <div><img src={unightLogo.src} alt="0" /></div>
      <div>4</div>
    </div>
    <p>OOPS. Looks like the page you're looking for doesn't exist.</p>
    <div class="garry-ko">
      <img
        class="garry-ko-canvas-bg"
        src={garryCanvasBgTexture.src}
        alt="Garry KO canvas background texture"
      />
      <img
        class="garry-ko-sprite"
        src={garryKoSprite.src}
        alt="Knocked out Garry texture"
      />
    </div>
  </div>
</html>
