---
import Layout from "../layouts/Layout.astro";
import campvan from "../assets/campvan.png";
import GameCard from "../components/GameCard";
import "../styles/pages/index.scss";
---

<Layout pageTitle="U-Night - Home">
  <section id="hero" class="bg-white w-full p-0">
    <!-- First section -->
    <div class="image-wrapper overflow-hidden w-full h-[75dvh]">
      <img
        src={campvan.src}
        alt="Camping car and fireplace"
        class="h-full w-full object-cover object-center"
      />
    </div>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 72"
      class="wave-separator"
    >
      <path
        fill="#070f40"
        fill-opacity="1"
        d="M 0,20.027292 80,15.682694 C 160,11.500518 320,2.5677024 480,0.5375196 c 160,-2.0301828 320,2.0301828 480,6.496591 160,4.4664074 320,8.5267734 400,10.8411794 l 80,2.152002 V 72 h -80 c -80,0 -240,0 -400,0 -160,0 -320,0 -480,0 -160,0 -320,0 -400,0 H 0 Z"
        id="path1"
        style="stroke-width:0.63721"></path>
    </svg>

    <div class="w-full bg-cinder-900 text-white px-20 hero-section">
      <h1 class="text-6xl font-heading">We're U-Night</h1>
      <p>
        We're U-Night, a team of young and ambitious french students currently
        studying Computer Science at the Orsay's Institute of Technology.
      </p>
      <br />
      <p>
        We're all gamers and love video games. We aim to produce quality video
        games that bring people together and create memorable experiences. For
        the moment we're working on our first ever project: FrostHorn (see
        below). But we plan to give you more video games in the future
      </p>
    </div>
    <!-- End section separator -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 72"
      class="wave-separator-reverse"
    >
      <path
        fill="#070f40"
        fill-opacity="1"
        d="m 0,67.843326 80,-4.845952 c 80,-4.845952 240,-14.537856 400,-12.932634 160,1.72637 320,14.446993 480,19.383807 160,4.755089 320,1.726371 400,0 l 80,-1.605221 V 0 h -80 C 1280,0 1120,0 960,0 800,0 640,0 480,0 320,0 160,0 80,0 H 0 Z"
        id="path1"
        style="stroke-width:0.550338"></path>
    </svg>
  </section>

  <section class="p-10 bg-white pt-20 pb-30">
    <!-- Our games section -->
    <h1 class="text-6xl font-heading text-center">Our games</h1>

    <div class="flex mt-8 justify-center">
      <GameCard
        GameImageUrl={campvan.src}
        GameName="FrostHorn"
        GameTags={["Post Apo", "Survival", "Story Rich", "Explore"]}
        GameDescription="FrostHorn is a 2D, pixel art, post-apocalyptic survival game where players must explore, innovate, and fight for resources in a harsh, unforgiving world."
        GameLink="https://wiki.u-night.org/"
        client:load
      />
    </div>
  </section>

  <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 72"
      class="wave-separator"
    >
      <path
        fill="#070f40"
        fill-opacity="1"
        d="M 0,20.027292 80,15.682694 C 160,11.500518 320,2.5677024 480,0.5375196 c 160,-2.0301828 320,2.0301828 480,6.496591 160,4.4664074 320,8.5267734 400,10.8411794 l 80,2.152002 V 72 h -80 c -80,0 -240,0 -400,0 -160,0 -320,0 -480,0 -160,0 -320,0 -400,0 H 0 Z"
        id="path1"
        style="stroke-width:0.63721"></path>
    </svg>
  <section class="w-full bg-cinder-900">
    <!-- "The team" section -->
    <div class="w-full text-white px-20 hero-section">
      <h1 class="text-6xl font-heading">The team</h1>
      <p>
        Click on one of us below to see a page about us!
      </p>
    </div>
    <!-- End section separator -->
  </section>
   <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 72"
      class="wave-separator-reverse"
    >
      <path
        fill="#070f40"
        fill-opacity="1"
        d="m 0,67.843326 80,-4.845952 c 80,-4.845952 240,-14.537856 400,-12.932634 160,1.72637 320,14.446993 480,19.383807 160,4.755089 320,1.726371 400,0 l 80,-1.605221 V 0 h -80 C 1280,0 1120,0 960,0 800,0 640,0 480,0 320,0 160,0 80,0 H 0 Z"
        id="path1"
        style="stroke-width:0.550338"></path>
    </svg>
</Layout>
