---
// import '../styles/global.css'; n
import "../styles/components/Navbar.scss";
import logo from "../assets/unight.png";
import { FaGithub, FaInstagram, FaTwitter, FaDiscord, FaRss } from "react-icons/fa6";
---

<nav class="flex bg-[#020411] w-full text-white">
    <div class="left flex">
        <div class="logo">
            <img src={logo.src} alt="U-Night logo"/>
        </div>
        <div class="menu">
            <ul class="flex">
                <li><a href="#">Projects</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Join us</a></li>
            </ul>
        </div>
    </div>
    <div class="socials">
        <ul class="flex">
            <li><a href="https://github.com/U-Night" target="_blank"><FaGithub /></a></li>
            <li><a href="https://discord.gg/6nQ94UkA32" target="_blank"><FaInstagram /></a></li>
            <li><a href="https://discord.gg/6nQ94UkA32" target="_blank"><FaTwitter /></a></li>
            <li><a href="https://discord.gg/6nQ94UkA32" target="_blank"><FaDiscord /></a></li>
            <li><a href="https://discord.gg/6nQ94UkA32" target="_blank"><FaRss /></a></li>
        </ul>
    </div>
</nav>
