---
import '../styles/global.css';
import NavbarReact from "../components/Navbar.tsx";
const {pageTitle} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="../styles/global.css">
		<title>{pageTitle}</title>
	</head>
	<body class="bg-[#020411]">
		<header class="w-full"><NavbarReact client:load /></header>
		<main class="md:pl-[3rem] md:pr-[3rem] pl-[1.2rem] pr-[1.2rem]">
			<slot />
		</main>
		<footer></footer>
	</body>
</html>
